h1, h2, caption, center {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
  } 
.table {
    padding-bottom: 1cm;
}
.table1 {
    padding-right : 20px; 
    float:left;
    padding-left: 10cm;
  }

.boldfont{
    font-size: 16pt;
    padding-bottom: 10px;
}

.table2 {
    float:left;
} 

.align {
    font-size: 16pt;
    padding-left: 9cm;
    padding-right: 0;
    padding-bottom: 10px;
}

.logo{
    padding-top: 1cm;
    padding-bottom: 1cm;
    width:33%;
}