h1,
h2,
caption,
center {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
}

.list-table {
  margin: 40px;
  display: flex;
  justify-content: center;
}

.font-24px {
  font-size: 24px;
}

.logo {
  margin: 40px 0 40px 0;
  width: 33%;
}
